.option-dropdown__container{
    width: 100%;
    height: 30px;
    position: relative;
    cursor: pointer;
}
.option-dropdown__title{
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 4px;
    height: 100%;
    z-index: 16;
    background-color: darken(white, 3);
    // TODO: JADIKAN CLASS AGAR SINKRON DENGAN SVG ARROW
    &:hover{
        background-color: darken(white, 6);
    }

    &-container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
    }

    &-svg{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        height: 50%;
        fill: var(--dark);
    }
}
.rotate{

}
.option-dropdown__dropdown{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    padding: 10px 10px;
    background-color: white;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    z-index: 15;
    width: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: all .3s ease-in-out;
}

.show-dropdown{
    transform: scaleY(1);
}
