.example-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.centered-custom{
    margin: 0 auto;
}

mat-dialog-actions button {
    margin-right: 5px;

    &:last-child {
        margin-right: 0;
    }
}

