.example-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.centered-custom {
    margin: 0 auto;
}

.form {
    &__actions {
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        & button {
            margin-right: 5px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

}

