<div class="row">
    <div class="col-md-12 col-xl-6">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-xl-6">
                <div class="kt-mb-20" style="height: 150px;">
                    <app-widgets color="#FF6B6B" icon="paper" text="Total Leads" title="1480"></app-widgets>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-xl-6">
                <div class="kt-mb-20" style="height: 150px;">
                    <app-widgets color="#4ECDC4" icon="laptop" text="New Leads This Week" title="+280"></app-widgets>
                </div>
            </div>


            <div class="col-sm-12 col-md-6 col-xl-6">
                <div class="kt-mb-20" style="height: 150px;">
                    <app-widgets color="#FFE66D" icon="presentation" text="Sales Performance" title="280"></app-widgets>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-xl-6">
                <div class="kt-mb-20" style="height: 150px;">
                    <app-widgets color="#1A535C" icon="user" text="Total Project" title="10"></app-widgets>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-8 col-xl-6 centered-custom">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">INFO PROFILE</h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <form [formGroup]="form" (ngSubmit)="savechanges()" class="example-form">

                    <mat-form-field appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Name"
                               formControlName="name"
                               type="text">
                        <mat-error *ngIf="email.hasError('required')">Name Required</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Address</mat-label>
                        <textarea matInput placeholder="Address"
                               formControlName="address"
                                  type="text">
                        </textarea>
                        <mat-error *ngIf="email.hasError('required')">Address Required</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Phone Number</mat-label>
                        <input matInput placeholder="number"
                               formControlName="number"
                               type="text">
                        <mat-error *ngIf="email.hasError('required')">Phone Number Required</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>PIC</mat-label>
                        <input matInput placeholder="PIC"
                               formControlName="pic"
                               type="text">
                        <mat-error *ngIf="email.hasError('required')">PIC Required</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email"
                               formControlName="email"
                               type="text">
                        <mat-error *ngIf="email.hasError('email')">Email Not Valid</mat-error>
                        <mat-error *ngIf="email.hasError('required')">Email required</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Password"
                               formControlName="password"
                               type="text">
                        <mat-error *ngIf="email.hasError('required')">Password Required</mat-error>
                        <mat-error *ngIf="email.hasError('min')">Must must exceed 8 character</mat-error>
                    </mat-form-field>

                    <app-image-upload class="centered-custom" [imageUrl]="'https://sdasdasda.com'"></app-image-upload>

                    <mat-dialog-actions style="margin: 20px;">
                        <button type="submit" mat-stroked-button>Cancel</button>
                        <button type="submit" mat-flat-button color="primary" style="margin-left: 10px;">Save Changes</button>
                    </mat-dialog-actions>
                </form>
            </div>
        </div>

    </div>
</div>
