.chart-option {
    display: flex;
    justify-content: space-between;

    &__expandable {
        width: 400px;
        box-shadow: none;
        border-bottom: 2px solid rgba(0, 0, 0, .3);
    }

    &__date-picker {
        max-width: 300px;
        width: 90vw;
    }

    &__form {
        display: flex;
        flex-wrap: wrap;
    }

    &__check-box {
        width: 50%;
    }
}

.row-custom {
    height: 150px;
    margin-bottom: 20px;
}

.line-chart {
    position: relative;
    min-height: 400px;
    height: auto;
    width: 100%;
}
.bar-chart{
    position: relative;
    min-height: 400px;
    height: auto;
    width: 100%;
}
.bar-chart--2{
    position: relative;
    min-height: 400px;
    height: auto;
    width: 100%;
}
@media screen and (max-width: 768px) {
    .col-sm-6 {
        margin-bottom: 20px;
        height: calc(40vw / 2);
    }
    .row-custom {
        height: auto;
        margin-bottom: 20px;
    }
    .line-chart {
        overflow-x: scroll;
        overflow-y: hidden;
        width: 78vw;
        margin: 0 auto;
    }

    // OPTION NYA
    .chart-option {
        flex-direction: column;

        &__expandable {
            width: 90%;
            margin: 0 auto;
        }
        &__date-picker {
            max-width: unset;
            width: 90%;
            margin: 0 auto;
        }
    }
}
