.chart-option {
    display: flex;
    justify-content: space-between;
    padding: 0 1vw;

    &__expandable {
        width: 250px;
    }

    &__date-picker {
        max-width: 200px;
        width: 90vw;
    }

    &__title {
        margin-bottom: 0;
        height: fit-content;
        position: relative;
        top: 50%;
        transform: translateY(-50%)
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__check-box {
        width: 50%;
    }
}
.kt-floating {
    top: 0;
    z-index: 100;
    position: absolute;
    transition: all .3s ease;

    & .kt-portlet__head {
        background-color: var(--primary);
        & .kt-portlet__head-label .kt-portlet__head-title{
            color: #fff;
        }
    }
}

.kt-portlet__body--custom{
    transform: scaleY(1);
    opacity: 1;
    height: auto;
    padding: auto;
    transform-origin: top;
    transition: all .3s ease-in;

    &--hidden{
        transform: scaleY(0);
        opacity: 0;
        height: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.filter--body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & mat-form-field{
        margin-right: 20px;
        &:last-child{
            margin-right: 0;
        }
    }
}
.dropdown__filter{
    width: 19px;
    height: 19px;
    opacity: 1;
    cursor: pointer;
    visibility: visible;
    transition: all .5s ease-out;

    &-svg{
        transform: rotate(360deg);
        height: 100%;
        width: 100%;
        fill: var(--white);
        transition: transform .5s ease-out;
    }
    &-hide{
        opacity: 0;
        visibility: hidden;
    }
}
.rotate{
    transform: rotate(180deg);
}


.row-custom {
    height: 150px;
    margin-bottom: 20px;
}

.line-chart, .bar-chart--2, .bar-chart {
    position: relative;
    min-height: 400px;
    height: auto;
    width: 100%;
}

.bar-chart--3 {
    position: relative;
    height: auto;
    width: 100%;
}

.bar-chart--3 ::ng-deep .chart-line {
    height: 200px;
}

@media screen and (max-width: 768px) {
    .col-sm-6 {
        margin-bottom: 20px;
        height: calc(40vw / 2);
    }
    .row-custom {
        height: auto;
        margin-bottom: 20px;
    }
    .line-chart, .bar-chart--3, .bar-chart--2, .bar-chart{
        overflow-x: scroll;
        overflow-y: hidden;
        width: 78vw;
        margin: 0 auto;
    }

    // OPTION NYA
    .chart-option {
        flex-direction: column;

        &__expandable {
            width: 90%;
            margin: 0 auto;
        }

        &__date-picker {
            max-width: unset;
            width: 90%;
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 468px) {
    .filter--body{
        flex-direction: column;

        & mat-form-field{
            margin: 0 0 20px;

            &:last-child{
                margin-bottom: 0;
            }
        }
    }

    .kt-floating {
        width: calc(100% - 20px);
    }
}
