<div class="row row-custom">
    <div class="col-md-3 col-sm-6">
        <app-widgets color="#FF6B6B" icon="paper" text="Total Leads" title="1480"></app-widgets>
    </div>
    <div class="col-md-3 col-sm-6">
        <app-widgets color="#4ECDC4" icon="laptop" text="New Leads This Week" title="+280"></app-widgets>
    </div>
    <div class="col-md-3 col-sm-6">
        <app-widgets color="#FFE66D" icon="presentation" text="Sales Performance" title="280"></app-widgets>
    </div>
    <div class="col-md-3 col-sm-6">
        <app-widgets color="#1A535C" icon="user" text="Total Project" title="10"></app-widgets>
    </div>
</div>
<div class="row" #rowFixed>
    <div class="col-xl-4 col-sm-12 kt-mb-20" [style.height]="floatHeight + 'px'">
        <div class="kt-portlet kt-floating" [class.kt-floating--custom]="isFilterCollapse" #rowMoving>
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Filter
                        <small>For All Chart</small>
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-actions">
                        <div class="dropdown__filter" (click)="filterCollapse()"
                             [class.dropdown__filter-hide]="!isFilterButtonShow">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" class="dropdown__filter-svg"
                                 [class.rotate]="isFilterCollapse">
                                <g>
                                    <path
                                        d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"/>
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kt-portlet__body kt-portlet__body--custom"
                 [class.kt-portlet__body--custom--hidden]="isFilterCollapse">
                <div class="filter--body">
                    <mat-form-field class="chart-option__date-picker">
                        <input matInput #input
                               placeholder="Choose a date"
                               [satDatepicker]="picker"
                               [max]="maxDate"
                               (dateChange)="changeDate()"
                               [formControl]="myFilter"
                               (focus)="picker.open()"
                        >
                        <sat-datepicker #picker [rangeMode]="true" (closed)="input.blur()"></sat-datepicker>
                        <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Project</mat-label>
                        <mat-select value="0">
                            <mat-option value="0">All</mat-option>
                            <mat-option value="1">Project 1</mat-option>
                            <mat-option value="2">Project 2</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Lead Statistic
                        <small>Chart for Leads</small>
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body" style="width: auto;">
                <div class="chart-option">
                    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" value="0">
                        <mat-button-toggle value="0">Day</mat-button-toggle>
                        <mat-button-toggle value="1">Month</mat-button-toggle>
                        <mat-button-toggle value="2">Year</mat-button-toggle>
                    </mat-button-toggle-group>
                    <app-option-dropdown class="chart-option__expandable">
                        <h6 title class="chart-option__title">Category</h6>
                        <form class="chart-option__form" [formGroup]="checkBoxCategory">
                            <mat-checkbox formControlName="all" color="primary">All</mat-checkbox>
                            <mat-checkbox formControlName="hot" color="primary">Hot</mat-checkbox>
                            <mat-checkbox formControlName="warm" color="primary">Warm</mat-checkbox>
                            <mat-checkbox formControlName="new_leads" color="primary">New Leads</mat-checkbox>
                            <mat-checkbox formControlName="cold" color="primary">Cold</mat-checkbox>
                            <mat-checkbox formControlName="closed" color="primary">Closed</mat-checkbox>
                            <mat-checkbox formControlName="unqualified" color="primary">Unqualified</mat-checkbox>
                        </form>
                    </app-option-dropdown>
                </div>
                <app-line-chart *ngIf="dataForChart1$" [data]="dataForChart1$" [label]="labelForChart1$"
                                class="line-chart"></app-line-chart>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Leads Generate
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <app-bar-stacked-chart [dataParent]="forChildChart3" class="bar-chart--3"></app-bar-stacked-chart>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Overall Performance
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <mat-form-field style="font-size: 1rem;">
                        <mat-select [(ngModel)]="selected" (selectionChange)="changeChart1($event.value)"
                                    name="performance">
                            <mat-option *ngFor="let jancok of dataParent; let i = index "
                                        [value]="i">{{jancok.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="kt-portlet__body">
                <button (click)="test()">Test Color</button>
                <app-bar-chart [data]="forChildChart" class="bar-chart" #testColor></app-bar-chart>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Team Performance
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <mat-form-field style="font-size: 1rem;">
                        <mat-select [(ngModel)]="selectedTeam" (selectionChange)="changeChart2($event.value)"
                                    name="teamPerformance">
                            <mat-option [value]=0>Top Sales Officer</mat-option>
                            <mat-option [value]=1>Top Sales Team</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="kt-portlet__body">
                <button (click)="test2()">Test Color</button>
                <app-bar-stacked-chart [dataParent]="forChildChart2" class="bar-chart--2"
                                       #testColor2></app-bar-stacked-chart>
            </div>
        </div>
    </div>
</div>
