.chart-option {
    display: flex;
    justify-content: space-between;
    padding: 0 1vw;

    &__expandable {
        width: 250px;
    }

    &__date-picker {
        max-width: 200px;
        width: 90vw;
    }

    &__title {
        margin-bottom: 0;
        height: fit-content;
        position: relative;
        top: 50%;
        transform: translateY(-50%)
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__check-box {
        width: 50%;
    }
}
.kontol {
    top: 0;
    transition: all 1s ease;
    height: auto;

    &-anjeng{
        position: fixed;
        top: 90px;
        z-index: 100;
    }
}

.row-custom {
    height: 150px;
    margin-bottom: 20px;

    &--fixed {
    }
}

.line-chart, .bar-chart--2, .bar-chart {
    position: relative;
    min-height: 400px;
    height: auto;
    width: 100%;
}

.bar-chart--3 {
    position: relative;
    height: auto;
    width: 100%;
}

.bar-chart--3 ::ng-deep .chart-line {
    height: 200px;
}

@media screen and (max-width: 768px) {
    .col-sm-6 {
        margin-bottom: 20px;
        height: calc(40vw / 2);
    }
    .row-custom {
        height: auto;
        margin-bottom: 20px;
    }
    .line-chart, .bar-chart--2, .bar-chart{
        overflow-x: scroll;
        overflow-y: hidden;
        width: 78vw;
        margin: 0 auto;
    }

    // OPTION NYA
    .chart-option {
        flex-direction: column;

        &__expandable {
            width: 90%;
            margin: 0 auto;
        }

        &__date-picker {
            max-width: unset;
            width: 90%;
            margin: 0 auto;
        }
    }
}
