<div class="row" style="height: 150px; margin-bottom: 20px;">
    <div class="col-md-3">
        <app-widgets color="#FF6B6B" icon="paper" text="Total Leads" title="1480"></app-widgets>
    </div>
    <div class="col-md-3">
        <app-widgets color="#4ECDC4" icon="laptop" text="New Leads This Week" title="+280"></app-widgets>
    </div>
    <div class="col-md-3">
        <app-widgets color="#FFE66D" icon="presentation" text="Sales Performance" title="280"></app-widgets>
    </div>
    <div class="col-md-3">
        <app-widgets color="#1A535C" icon="user" text="Total Project" title="10"></app-widgets>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Lead Statistic <small>Chart for Leads</small>
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
               <button mat-flat-button (click)="bangsat()">jancok</button>
                <app-line-chart [data]="dataForChart1$"></app-line-chart>
            </div>
        </div>
    </div>
</div>
