.bar-chart {
    position: relative;
    min-height: 400px;
    height: auto;
    width: 100%;
}
mat-icon{
    height: auto;
    text-align: left;
    font-size: initial;
    vertical-align: middle;
}
@media screen and (max-width: 768px) {
    .bar-chart{
        overflow-x: scroll;
        overflow-y: hidden;
        width: 78vw;
        margin: 0 auto;
    }
}

::ng-deep{
    .sales_officer_dialog {
        width: 600px;
        min-height: 500px;
    }
    @media screen and (max-width: 768px){
        .sales_officer_dialog {
            width: 90vw;
            height: 90vh;
            min-height: 700px;
        }
    }
}
