<div class="row">
    <div class="col-md-3">
        <div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">Your Team</h3>
                </div>
            </div>
            <div class="kt-portlet__body">
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">Team Summary</h3>
                </div>
            </div>
            <div class="kt-portlet__body">
<!--                <kt-stacked-bar [dataParent]="dataForChildChart" style="position: relative; height: auto; min-height: 400px"></kt-stacked-bar>-->
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">Sales Team</h3>
                </div>
            </div>
            <div class="kt-portlet__body">
<!--                <kt-sales-officer-table [dataFromParent]="dataForTable"></kt-sales-officer-table>-->
            </div>
        </div>
    </div>
</div>
