table {
    width: 100%;
}

.mat-form-field {
    width: 30%;
    min-width: 200px;
    margin: 0 auto;
}

.table__image {
    width: 200px;
    height: 200px;
    border-radius: 3px;
    margin: 5px auto;
    overflow: hidden;

    & img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

.mat-row:hover {
    background-color: rgba(63, 81, 181, .1) !important;
}

.mat-row:nth-child(odd) {
    background-color: #f7f7f7;
}


@media screen and (max-width: 1200px) {
    .container__mobile {
        width: 100%;
        overflow: auto;
    }
    table {
        width: 1200px;
    }
    .table__mobile {
        padding: 0 10px !important;
    }
    .mat-table-sticky {
        border-right: #d8dce6 solid 1px;
        padding: 10px !important;
        background-color: antiquewhite;
    }
}
