<div class="table-responsive-md">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Detail</th>
            <th scope="col">Price</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of dataStore; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ product.name }}</td>
            <td>{{ product.detail }}</td>
            <td>{{ product.price | currency: 'IDR' }}</td>
            <td>
                <button mat-flat-button (click)="editProductsActive(product)" [color]="product.status ? 'primary' : 'warn'">{{ product.status ? 'Active' : 'Inactive'}}</button>
            </td>
            <td>
                <button mat-icon-button (click)="editProducts(product)" color="warn">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<button class="btn btn-brand custom" (click)="addProduct()">
    <i class="flaticon2-plus"></i> Add Product
</button>
