<h3 mat-dialog-title>Sales Officer Form</h3>
<mat-dialog-content>
    <form class="example-form"
          [formGroup]="testGroup">
        <app-option-dropdown-v2 *ngIf="teamsForCheckbox" [dataParent]="teamsForCheckbox" [title]="'Sales Team'"
                                style="margin-bottom: 10px;">
        </app-option-dropdown-v2>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="name" formControlName="name">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="email"
                   formControlName="email">
            <mat-error *ngIf="testGroup.get('email').invalid">Jancok</mat-error>
            <mat-hint *ngIf="testGroup.get('email').disabled">Email Cannot Be Modified</mat-hint>
        </mat-form-field>

        <!--<mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Telephone</mat-label>
            <input type="tel" matInput placeholder="telephone" formControlName="phone"
                   (keydown)="onKeyDown($event)">
        </mat-form-field>-->

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Address</mat-label>
            <textarea matInput placeholder="Address"
                      formControlName="address"></textarea>
        </mat-form-field>

        <!--<mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender">
                <mat-option value="Male">Male</mat-option>
                <mat-option value="Female">Female</mat-option>
            </mat-select>
        </mat-form-field>-->

        <!--<mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Change Password</mat-label>
            <input type="password" matInput placeholder="password" formControlName="password">
        </mat-form-field>-->
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button type="submit" (click)="onNoClick()" mat-stroked-button>Cancel</button>
    <button type="submit" mat-flat-button (click)="onSubmit(testGroup)" color="primary" [disabled]="!testGroup.valid">
        Submit
    </button>
</mat-dialog-actions>
