<nav #nav  class="navbar navbar-expand-md bg-navbar fixed-top" id="navbar" (scroll)="onWindowScroll($event);">
    <div class="container__nav">
        <a class="navbar-brand" href="#">Hidden brand</a>
        <mat-icon (click)="show()">menu</mat-icon>
        <div class="collapse navbar-collapse" [ngClass]="{'show-nav': isShow}" >
            <mat-icon class="custom-icon" (click)="show()">close</mat-icon>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item" [routerLinkActive]="'active'"[routerLinkActiveOptions]="{ exact: true }">
                    <a class="nav-link"
                       [routerLink]="['overview']">
                        Dashboard
                    </a>
                </li>
                <li class="nav-item" [routerLinkActive]="'active'">
                    <a class="nav-link"
                       [routerLink]="['sales-team']">
                        Sales Team
                    </a>
                </li>
                <li class="nav-item" [routerLinkActive]="'active'">
                    <a class="nav-link"
                       [routerLink]="['sales-officer']">
                        Sales Officer
                    </a>
                </li>
                <li class="nav-item" [routerLinkActive]="'active'">
                    <a class="nav-link"
                       [routerLink]="['project']">
                        Project
                    </a>
                </li>
                <li class="nav-item" [routerLinkActive]="'active'">
                    <a class="nav-link"
                       [routerLink]="['user-setting']">
                        User Setting
                    </a>
                </li>
                <li class="nav-item nav-item--custom" [routerLinkActive]="'active'">
                    <a class="nav-link nav-link--custom">
                        <span>Hi, COK</span>
                        <span>
                            <mat-icon class="custom-icon--person">person</mat-icon>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="bg-custom" [ngClass]="{'show': isShow}" (click)="show()"></div>
</nav>
