<h3 mat-dialog-title>Create Channel Form</h3>
<mat-dialog-content>
    <form class="form-channel-add"
          [formGroup]="formChannel">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="name" formControlName="name">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Campaign</mat-label>
            <mat-select formControlName="campaign">
                <mat-option *ngFor="let campaign of allCampaign$ | async"
                            [value]="campaign.id">{{campaign.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Media</mat-label>
            <mat-select formControlName="media"
                        (selectionChange)="disableUrl($event.value)">
                <mat-option *ngFor="let media of allMedia" [value]="media">{{media.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Sales Team</mat-label>
            <mat-select formControlName="salesTeam">
                <mat-option *ngFor="let team of allSalesTeam$ | async"
                            [value]="team">{{team.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Landing Page URL</mat-label>
            <input matInput placeholder="Landing Page Url"
                   formControlName="landPage">
            <mat-hint>include http:// or https://</mat-hint>
            <mat-error *ngIf="formChannel.get('landPage').hasError('containHttp')">Please Include http:// or https://
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Redirect Page Url</mat-label>
            <input matInput placeholder="Redirect Page Url"
                   formControlName="redirectPage">
            <mat-hint>include http:// or https://</mat-hint>
            <mat-error *ngIf="formChannel.get('redirectPage').hasError('containHttp')">Please Include http:// or
                https://
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Detail</mat-label>
            <textarea matInput placeholder="Detail"
                      formControlName="detail"></textarea>
        </mat-form-field>

        <app-image-upload (getImage)="addImage($event)"></app-image-upload>

    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button type="submit" (click)="onNoClick()" mat-stroked-button>Cancel</button>
    <button type="submit" (click)="onSubmit(formChannel)" mat-flat-button color="primary" style="margin-left: 10px;">
        Submit
    </button>
</mat-dialog-actions>
