.kt-portlet__body__custom_hide {
    height: 0;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
}

.kt-portlet__body__custom_expand {
    height: auto;
    overflow: auto;
}

form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

mat-form-field {
    width: 40%;
}

mat-icon {
    height: auto;
    text-align: left;
    font-size: initial;
    vertical-align: middle;
}

.bar-chart {
    position: relative;
    min-height: 400px;
    height: auto;
    width: 100%;
}


@media screen and (max-width: 768px) {
    .bar-chart {
        overflow-x: scroll;
        overflow-y: hidden;
        width: 78vw;
        margin: 0 auto;
    }
}

::ng-deep {
    .project_detail_upload_dialog {
        width: 50vw;
    }

    @media screen and (max-width: 768px) {
        .project_detail_upload_dialog {
            width: 90vw;
        }
    }
}

.kt-portlet__body--grey{
    background-color: #f7f8fa;
}

.tabs {
    display: flex;
    flex-direction: column;

    &-header {
        padding-top: 10px;
        margin-bottom: -1px;
        background-color: #f7f8fa;
    }

    &-item {
        display: inline-block;
        padding: 10px 30px;
        border-radius: 5px 5px 0 0;
        //background-color: lightgray;
        position: relative;
        z-index: 1;
        color: gray;
        transform: scaleY(.9);
        transform-origin: bottom;
        cursor: pointer;
        transition: .5s all ease;
        //border: 1px rgba(0,0,0,.1) solid;
        border-bottom: none;

        &:hover {
            background-color: #eeeeee;
        }

        & * {
            margin-bottom: 0;
        }

        &-active {
            transform: scaleY(1);
            background-color: #fff;
            color: inherit;
            z-index: 2;
            //border: 1px rgba(0,0,0,0) solid;
        }
    }

    &-body {
        width: 100%;
        position: relative;
        z-index: 0;
        padding: 25px;
        box-shadow: 0 0 13px 0 rgba(82, 63, 105, 0.05);
        background-color: #ffffff;
        margin-bottom: 20px;
        border-radius: 0 4px 4px 4px;
        overflow: hidden;
    }
}

@media screen and (max-width: 1024px) {
    .tabs {
        &-body {
            padding: 15px;
        }
    }
}
@media screen and (max-width: 768px) {
    .tabs {
        &-item {
            padding: 10px 10px;
        }
    }
}
