<div class="kt-portlet">
    <div class="kt-portlet__head" *ngIf="projectInUsedData$ | async as project">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">{{ project.name }}</h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-actions">
                <div class="btn-group btn-group-sm">
                    <button (click)="uploadDialog()" class="btn btn-warning btn-bold">
                        <mat-icon>cloud_download</mat-icon>
                        Export
                    </button>
                    <button (click)="uploadDialog()" class="btn btn-brand btn-bold">
                        <mat-icon>cloud_upload</mat-icon>
                        Import
                    </button>
                    <a [routerLink]="['../../setting/',project.id]" class="btn btn-danger btn-bold">
                        <mat-icon>settings</mat-icon>
                        Setting
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body kt-portlet__body--grey" *ngIf="dataForOverview">
        <h2><span class="kt-font-danger">{{ dataForOverview.leads }} </span>Leads
            <small class="text-muted">Total</small>
        </h2>
        <h2><span class="kt-font-danger">{{ dataForOverview.campaign }} </span>Campaign
            <small class="text-muted">Total</small>
        </h2>
        <h2><span class="kt-font-danger">{{ dataForOverview.channel }} </span>Channel
            <small class="text-muted">Total</small>
        </h2>
    </div>
    <div class="tabs">
        <div class="tabs-header">
            <div class="tabs-item" (click)="showTabs(0)" [ngClass]="{'tabs-item-active': isShow === 0 }">
                <h5>Leads</h5>
            </div>
            <div class="tabs-item" (click)="showTabs(1)" [ngClass]="{'tabs-item-active': isShow === 1 }">
                <h5>Campaign</h5>
            </div>
            <div class="tabs-item" (click)="showTabs(2)" [ngClass]="{'tabs-item-active': isShow === 2 }">
                <h5>Channel</h5>
            </div>
        </div>
        <div class="tabs-body" *ngIf="projectInUsedData$ | async as dataProject">
            <ng-container *ngIf="isShow === 0">
                <app-project-detail-lead [dataProject]="dataProject"
                                         [dataLeads]="dataLeads"
                                         [@testAnimation]></app-project-detail-lead>
            </ng-container>
            <ng-container *ngIf="isShow === 1">
                <app-project-detail-campaign
                    [dataFromParent]="dataProject"
                    [dataCampaign]="dataCampaign"
                    [@testAnimation]></app-project-detail-campaign>
            </ng-container>
            <ng-container *ngIf="isShow === 2">
                <app-project-detail-channel [dataProject]="dataProject"
                                            [dataChannel]="dataChannel"
                                            [@testAnimation]></app-project-detail-channel>
            </ng-container>
        </div>
    </div>
</div>

