table {
    width: 100%;
}
.mat-sort-header {
    text-align: center;
}
.mat-elevation-z8{
    display: flex;
    flex-direction: column;
}
.mat-form-field{
    width: 30%;
    margin: 0 auto;
}
.mat-row:hover{
    background-color: rgba(63, 81, 181, .1) !important;
}
.mat-row:nth-child(odd){
    background-color: #f7f7f7;
}
.mat-exp-pnl{
    box-shadow: none;
    width: 90%;
}
// gawe responsive table
::ng-deep {
    @media screen and (max-width: 1200px) {
        .container__mobile {
            width: 100%;
            overflow: auto;
        }
        table {
            width: 1200px;
        }
        .table__mobile {
            padding: 0 10px !important;
        }
        .mat-table-sticky {
            border-right: #d8dce6 solid 1px;
            padding: 10px !important;
            background-color: antiquewhite;
        }
    }

    .project_channel_dialog {
        width: 50vw;
        min-height: 300px;
    }
    @media screen and (max-width: 768px){
        .project_channel_dialog {
            width: 90vw;
            height: auto;
        }
    }
}
