<div>
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>
    <div class="container__mobile">
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="id" class="table__sticky" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
                <td mat-cell *matCellDef="let element;" style="width: 5%"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell class="table__mobile" *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell class="table__mobile" *matCellDef="let element" style="width: 15%">
                    <p>{{element.name}} </p>
                    <p>{{element.email}} </p>
                    <p>{{element.phone}} </p>
                </td>
            </ng-container>

            <ng-container matColumnDef="category">
                <th mat-header-cell class="table__mobile" *matHeaderCellDef mat-sort-header>Category</th>
                <td mat-cell class="table__mobile" *matCellDef="let element">
                    <ng-template [ngIf]="element.category === 'cold'">
                        <span class="cold-bg">{{ element.category }}</span>
                    </ng-template>
                    <ng-template [ngIf]="element.category === 'hot'" >
                        <span class="hot-bg">{{ element.category }}</span>
                    </ng-template>
                    <ng-template [ngIf]="element.category === 'unqualified'" >
                        <span class="unqualified-bg">{{ element.category }}</span>
                    </ng-template>
                    <ng-template [ngIf]="element.category === 'new lead'">
                        <span class="new-leads-bg">{{ element.category }}</span>
                    </ng-template>
                    <ng-template [ngIf]="element.category === 'closed'" >
                        <span class="closed-bg">{{ element.category }}</span>
                    </ng-template>
                    <ng-template [ngIf]="element.category === 'warm'" >
                        <span class="warm-bg">{{ element.category }}</span>
                    </ng-template>
                </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell class="table__mobile" *matHeaderCellDef mat-sort-header>Status</th>
                <td mat-cell class="table__mobile" *matCellDef="let element">
                    <button mat-stroked-button color="primary">{{element.status}}</button>
                </td>
            </ng-container>

            <ng-container matColumnDef="salesTeam">
                <th mat-header-cell class="table__mobile" *matHeaderCellDef mat-sort-header>Sales Team</th>
                <td mat-cell class="table__mobile" *matCellDef="let element">{{element.salesTeam}}</td>
            </ng-container>

            <ng-container matColumnDef="salesOfficer">
                <th mat-header-cell class="table__mobile" *matHeaderCellDef mat-sort-header>Sales Officer</th>
                <td mat-cell class="table__mobile" *matCellDef="let element">{{element.salesOfficer}}</td>
            </ng-container>

            <ng-container matColumnDef="campaign">
                <th mat-header-cell class="table__mobile" *matHeaderCellDef mat-sort-header>Campaign</th>
                <td mat-cell class="table__mobile" *matCellDef="let element">{{ element.campaign }}</td>
            </ng-container>

            <ng-container matColumnDef="channel">
                <th mat-header-cell class="table__mobile" *matHeaderCellDef mat-sort-header>Channel</th>
                <td mat-cell class="table__mobile" *matCellDef="let element">
                    {{ element.channel }}
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
