<div class="breadcrumb-container">
    <h3>Dashboard</h3>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a routerLink="/">Home</a>
            </li>
            <ng-container *ngFor="let breadcrumb of breadcrumbs$ | async; let i = index">
                <li class="breadcrumb-item">
                    <mat-icon>
                        navigate_next
                    </mat-icon>
                </li>
                <li class="breadcrumb-item">
                    <a routerLink="{{ breadcrumbsRoute[i] }}">{{ breadcrumb | titlecase }}</a>
                </li>
            </ng-container>
        </ol>
    </nav>
</div>
