<div class="breadcrumb-container">
    <h3>Dashboard</h3>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a>Home</a>
            </li>
            <li class="breadcrumb-item">
                <mat-icon>
                    navigate_next
                </mat-icon>
            </li>
            <li class="breadcrumb-item active">Library</li>
        </ol>
    </nav>
   <!-- <ul>
        <li *ngFor="let breadcrumb of breadcrumbs$ | async">
            <a [routerLink]="[breadcrumb.url, breadcrumb.params]">{{ breadcrumb.label }}</a>
        </li>
    </ul>-->
</div>
