table {
    width: 100%;
}

.mat-elevation-z8 {
    display: flex;
    flex-direction: column;
}

.mat-row:hover {
    background-color: rgba(63, 81, 181, .1) !important;
}

.mat-row:nth-child(odd) {
    background-color: #f7f7f7;
}

.action {
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 20px 20px;
    }

    &__search {
        width: 40%;
        max-width: 300px;
    }

    &__button {
        height: 40px;
    }

}

// gawe responsive table
::ng-deep {
    @media screen and (max-width: 1200px) {
        .container__mobile {
            width: 100%;
            overflow: auto;
        }
        table {
            width: 1200px;
        }
        .table__mobile {
            padding: 0 10px !important;
        }
        .mat-table-sticky {
            border-right: #d8dce6 solid 1px;
            padding: 10px !important;
            background-color: antiquewhite;
        }
    }

    .project_campaign_dialog {
        width: 50vw;
        min-height: 300px;
    }

    @media screen and (max-width: 768px) {
        .project_campaign_dialog {
            width: 90vw;
            height: auto;
        }
    }
}

@media screen and (max-width: 768px) {
    .action {
        &__container {
            flex-direction: column-reverse;
            padding: 20px 0;
        }

        &__search {
            align-self: center;
            width: 80%;
            max-width: 500px;
        }

        &__button {
            align-self: flex-end;
            height: 40px;
        }

    }
}
