form {
    display: flex;
    flex-direction: column;
    & mat-form-field{
        width: 100%;
    }
}

.product-dialog-divider{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & mat-form-field{
        width: 48%;
    }
}

.mat-dialog-actions{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    & > * {
        margin: 0 5px;
    }
}

@media screen and (max-width: 768px) {
    .product-dialog-divider{
        flex-direction: column;
    }
}
