/* You can add global styles to this file, and also import other style files */
@import "assets/style.bundle2.css";
@import '~@angular/material/theming';
@import '~saturn-datepicker/theming';
@import '~ngx-toastr/toastr';

$md-main-theme: (
    50 : #ebedfb,
    100 : #cdd1f5,
    200 : #acb3ee,
    300 : #8a95e7,
    400 : #717ee2,
    500 : #5867dd,
    600 : #505fd9,
    700 : #4754d4,
    800 : #3d4acf,
    900 : #2d39c7,
    A100 : #ffffff,
    A200 : #d5d8ff,
    A400 : #a2a9ff,
    A700 : #8991ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-second-theme: (
    50 : #e7edfe,
    100 : #c3d3fb,
    200 : #9bb6f9,
    300 : #7298f7,
    400 : #5482f5,
    500 : #366cf3,
    600 : #3064f1,
    700 : #2959ef,
    800 : #224fed,
    900 : #163dea,
    A100 : #ffffff,
    A200 : #e7ebff,
    A400 : #b4c0ff,
    A700 : #9baaff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$custom-typography: mat-typography-config(
    $font-family: 'Poppins, Roboto'
);

@include mat-core($custom-typography);

$main-app-primary: mat-palette($md-main-theme);
$main-app-accent: mat-palette($md-second-theme);
$main-app-warn: mat-palette($mat-pink);

// Create the theme object (a Sass map containing all of the palettes).
$main-app-theme: mat-light-theme($main-app-primary, $main-app-accent, $main-app-warn);

@include angular-material-theme($main-app-theme);
@include sat-datepicker-theme($main-app-theme);

body {
    background-color: #f9f9fc;
    overflow-x: hidden;
}
// Gawe ngilangi glitch scrollbar
html {
    margin-left: calc(100vw - 100%);
}

.cdk-global-scrollblock {
    position: initial;
    width: initial;
    overflow-y: hidden;
}
