<div class="login__page">
    <div class="login__card">
        <h3>Welcome Back</h3>
        <form class="login__form" [formGroup]="loginForm">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="Your Email" formControlName="email">
                <mat-error
                    *ngIf="loginForm.get('email').hasError('email') && !loginForm.get('email').hasError('required')">
                    Not Valid Email
                </mat-error>
                <mat-error *ngIf="loginForm.get('email').hasError('required')">
                    Email required
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Your Password" formControlName="password">
                <mat-error *ngIf="loginForm.get('password').hasError('required')">
                    password required
                </mat-error>
            </mat-form-field>
            <button class="btn btn-primary" (click)="onSubmit()">Login</button>
        </form>
        <a href="#">Forgot Your Password ?</a>
        <div class="login__error kt-mt-20" *ngIf="error">
            <h6>{{ error }}</h6>
        </div>
    </div>
</div>
<ngx-spinner
    class="loader"
    bdColor="rgba(0,0,0,.7)"
    size="medium"
    color="#fff"
    type="timer"
    [fullScreen]="true">
    <p style="color: white"> Please Wait... </p>
</ngx-spinner>
