<h3 mat-dialog-title>Campaign Form</h3>
<mat-dialog-content>
    <form class="form__container" [formGroup]="testGroup">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Campaign Name"
                   formControlName="name">
            <mat-error *ngIf="testGroup.get('name').hasError('min')">Min. Length 5 Character</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Detail</mat-label>
            <textarea matInput placeholder="Enter Your Description"
                      formControlName="detail"></textarea>
            <!--
                            <mat-error *ngIf="testGroup.get('email').invalid">Jancok</mat-error>
            -->
        </mat-form-field>
        <app-image-upload [imageUrl]="imageUrl" (getImage)="imageUpload($event)"></app-image-upload>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button type="submit" (click)="onNoClick()" mat-stroked-button>Cancel</button>
    <button type="submit" (click)="onSubmit(testGroup)" mat-flat-button color="primary" style="margin-left: 10px;">
        Submit
    </button>
</mat-dialog-actions>
