
////// FIX Number type mombol prefix e ////////
:host ::ng-deep .mat-form-field-infix{
    top: -0.25em;
}
:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-label {
    margin-top: 0;
}
:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-prefix, :host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: -0.25em;
}
/////////////////////////////////////////////////

.form__group{
    display: flex;
    flex-direction: column;
}
.form__divider{
    display: flex;
    align-items: center;
    justify-content: space-between;
    & mat-form-field{
        width: 48%;
    }
}
.image{
    &__container{
        width: 100%;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__item{
        width: 6vw;
        height: 6vw;
        margin: 10px;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        ///////////////////////
        &--upload{
            background-color: var(--gray);
            position: relative;
            & input {
                opacity: 0;
                visibility: hidden;
            }

        }
        &--svg{
            width: 50%;
            height: 50%;
            fill: rgba(255,255,255,.5);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        /////////////////////////
    }

    &__carousel{
        width: 100%;
        height: calc(100vw/3);
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.1);
        & img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0;
            visibility: hidden;
            transition: all .7s ease;
        }
        &--active{
            opacity: 1 !important;
            visibility: visible !important;
        }
    }
}
