<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">Product Setting</h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="row">
            <div class="col-md-7">
                <div class="image__carousel">
                    <img *ngFor="let img of productImage; let i = index" [src]="img" alt="image {{i}}"
                         [ngClass]="{'image__carousel--active': carouselImage === i}">
                </div>
                <div class="image__container">
                    <div class="image__item" *ngFor="let img of productImage; let i = index">
                        <img alt="cok" [src]="img" (click)="changeImage(i)">
                    </div>
                    <div class="image__item image__item--upload" (click)="upload.click()">
                        <div class="image__item--svg">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 491.86 491.86"
                                 xml:space="preserve">
                                <g>
                                    <path d="M465.167,211.614H280.245V26.691c0-8.424-11.439-26.69-34.316-26.69s-34.316,18.267-34.316,26.69v184.924H26.69
                                        C18.267,211.614,0,223.053,0,245.929s18.267,34.316,26.69,34.316h184.924v184.924c0,8.422,11.438,26.69,34.316,26.69
                                        s34.316-18.268,34.316-26.69V280.245H465.17c8.422,0,26.69-11.438,26.69-34.316S473.59,211.614,465.167,211.614z"/>
                                </g>
                            </svg>
                        </div>
                        <input #upload type="file">
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <form [formGroup]="formGroup" class="form__group">

                    <mat-form-field appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Name"
                               formControlName="name">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Description</mat-label>
                        <textarea matInput placeholder="Description"
                                  formControlName="description"></textarea>
                    </mat-form-field>
                    <div class="form__divider">
                        <mat-form-field appearance="outline">
                            <mat-label>Price</mat-label>
                            <input type="number" matInput placeholder="Price" min="0"
                                   formControlName="price">
                            <span matPrefix>Rp.&nbsp;</span>
                            <span matSuffix>.00</span>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Min. Booking Price</mat-label>
                            <input type="number" matInput placeholder="Min. Booking Price"
                                   formControlName="minPrice" min="0" [max]="formGroup.get('price').value"
                                   (change)="changeMinPrice()">
                            <span matPrefix>Rp.&nbsp;</span>
                            <span matSuffix>.00</span>
                            <mat-hint>Must not exceeded from Price</mat-hint>
                        </mat-form-field>
                    </div>
                    <!--                    <button (click)="cok()">BLOK</button>-->
                </form>
            </div>
        </div>
    </div>
</div>
