<div class="row">
    <div class="col-md-3">
        <div class="kt-mb-20" style="height: 200px;">
            <app-widgets color="#1A535C" icon="user" text="Your Sales Team Performance Last Week" title="10"></app-widgets>
        </div>
    </div>
    <div class="col-md-9">
        <div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">Team Summary</h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <app-bar-stacked-chart [dataParent]="dataForChildChart" class="bar-chart"></app-bar-stacked-chart>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">Sales Team</h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-actions">
                        <a (click)="addData()" class="btn btn-danger btn-sm btn-bold" style="color: white; cursor: pointer">
                            <mat-icon>add</mat-icon>Add Sales Team
                        </a>
                    </div>
                </div>
            </div>
            <div class="kt-portlet__body">
                <app-sales-team-dashboard-table [dataFromParent]="dataForTable"></app-sales-team-dashboard-table>
            </div>
        </div>
    </div>
</div>
